body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e; /* Color de fondo oscuro */
    color: #e0e0e0; /* Color de texto claro */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* Contenedor principal */
.contenedor {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #3b3b3b; /* Fondo del contenedor */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Contenedor para el formulario */
form {
    margin-bottom: 20px;
}

/* Contenedor para los botones */
.botonera {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

/* Estilo para los botones */
.botonera input[type="submit"],
.botonera button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Área de texto */
textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555; /* Borde más oscuro */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #4d4d4d; /* Fondo del textarea */
    color: #e0e0e0; /* Color del texto */
}

/* Botón analizar */
input[type="submit"].analizar {
    width: 100%;
    background-color: #6A3B9A; /* Color del fondo del botón */
    color: white;
    border: none;
    border-radius: 4px;
}

input[type="submit"].analizar:hover {
    background-color: #704799; /* Color del fondo del botón al pasar el cursor */
}

/* Botón limpiar */
button.limpiar {
    width: 100%;
    background-color: #d9534f; /* Color del fondo del botón de limpiar */
    color: white;
    border: none;
    border-radius: 4px;
}

button.limpiar:hover {
    background-color: #c9302c; /* Color del fondo del botón al pasar el cursor */
}

/* Estilos para los resultados */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #4d4d4d; /* Fondo de los resultados */
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}
