<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador Sintáctico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="contenedor">
        <h1>Analizador Sintáctico</h1>
        
        <!-- Formulario para analizar -->
        <form action="/" method="post">
            <textarea name="texto" rows="10" cols="50" placeholder="Ingresa tu código aquí...">{{ texto }}</textarea><br>
            <div class="botonera">
                <input type="submit" class="analizar" value="Analizar">
            </div>
        </form>

        <!-- Formulario separado para limpiar -->
        <form id="clearForm" action="/clear" method="post">
            <div class="botonera">
                <button type="submit" class="limpiar">Limpiar</button>
            </div>
        </form>

        <!-- Resultado Sintáctico -->
        <h2>Resultado Sintáctico</h2>
        <ul>
            {% if resultado_sintactico %}
                {% for sintactico in resultado_sintactico %}
                    <li>{{ sintactico }}</li>
                {% endfor %}
            {% else %}
                <li>No hay resultados</li>
            {% endif %}
        </ul>

        <!-- Resultado Léxico en formato de tabla -->
        <h2>Resultado Léxico</h2>
        {% if resultado_lexico %}
        <div class="contenedor_tabla">
            <table>
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Reservado</th>
                        <th>Identificador</th>
                        <th>Delimitador</th>
                        <th>Símbolo</th>
                        <th>Número</th>
                        <th>Línea</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lexema in resultado_lexico %}
                    <tr>
                        <td>{{ lexema.lexema }}</td>
                        <td>{% if lexema.token == 'Reservado' %}X{% endif %}</td>
                        <td>{% if lexema.token == 'Identificador' %}X{% endif %}</td>
                        <td>{% if lexema.token == 'Delimitador' %}X{% endif %}</td>
                        <td>{% if lexema.token == 'Simbolo' %}X{% endif %}</td>
                        <td>{% if lexema.token == 'Número' %}X{% endif %}</td>
                        <td>{{ lexema.linea }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Conteo de Tokens -->
        <div class="contenedor_contadores">
            <h2>Conteo de Tokens</h2>
            <ul>
                {% for tipo, count in token_count.items() %}
                <li>{{ tipo }}: {{ count }}</li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
            <p>No hay resultados léxicos disponibles</p>
        {% endif %}

    </div>
</body>
</html>
